@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9d4ff;
}

/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair Display", serif; */

/* NavBar CSS*/
.nav-logo {
  text-decoration: none;
  color: #265a65;
}

.logo-text {
  display: inline;
  font-family: 'playfair';
  font-size: xx-large;
}

nav ul {
  width: 100%;
}

.nav-list-1 {
  font-size: smaller;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list-2 {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list-grid-container {
  height: 3rem;
  display: flex;
  justify-content: center;
  background-color: #575563;
}

.nav-list-grid-container li {
  background-color: #575563;
  border: 1px solid whitesmoke;
  color: white;
  text-align: center;
  padding: 20px;
}


.nav-list-mar {
  margin: 0;
}

.nav-list-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li:hover {
  color: #55c7de;
  cursor: pointer;
}

.nav-list-grid-container li:hover {
  background-color: #55c7de;
  color: whitesmoke !important;
}

/* Page Not Found*/
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/*about section */
.aboutus .ex-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus {
  padding: 1rem;
}

.aboutus .au-Two {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}



/* Footer Css*/

.footer {
  color: white;
  padding: 25px;
  background: #000;
  background: -webkit-linear-gradient(to bottom,
      #434343,
      #000);
  background: linear-gradient(to bottom, #434343, #000);
}

.footer a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
